.app-bg{min-height:100vh;background:linear-gradient(191deg,#d3eeec 4.31%,#ecf3cb 92.6%),#f8f8f8}.fade-enter-active,.fade-leave-active{transition:opacity .4s ease}.fade-enter-from,.fade-leave-to{opacity:0}
